body {
  background-color: #F0F9F9;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.rectangle {
  height: 50px;
  width: 200vh;
  background-color: #555;
}
